<div class="transaction-section" *ngIf="waterPurchaseTransaction?.rcCreditReqList">
    <div class="card mb-4">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h4>Water Purchase Party : {{customerName}}</h4>
            <div class="badge-container" *ngIf="pendingTrip !== 0">
                <div class="circle-badge" [ngClass]="{'negative-contrast': pendingTrip < 0}" > <span>{{ pendingTrip | absoluteValue }}</span> </div>
            </div>
            <div class="d-flex" *ngIf="!histGroupForm.get('historyMode')?.value">
                <button class="btn btn-primary mx-3" [disabled]="isRecording" (click)="performAction()"> <i
                        class="fa fa-save"></i> {{isRecording ?
                    'Saving...' : 'Record Trip!'}} </button>
            </div>

        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <p><strong>Customer ID:</strong> {{ purchaseParty?.customerId }}</p>
                    <p><strong>Storage Type:</strong> {{ purchaseParty?.storageType }}</p>
                    <p><strong>Capacity:</strong> {{ purchaseParty?.capacity }}</p>
                </div>
                <div class="col-md-6">
                    <p><strong>Vehicle Number:</strong> {{ purchaseParty?.vehicleNumber }}</p>
                    <p><strong>Registration Date:</strong> {{ purchaseParty?.registrationDate | date:'shortDate' }}</p>
                    <p><strong>Address:</strong> {{ purchaseParty?.address }}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-end my-2" [formGroup]="histGroupForm"> <mat-slide-toggle
            formControlName="historyMode"> <strong> History </strong></mat-slide-toggle> </div>
    <ng-container *ngIf="!histGroupForm.get('historyMode')?.value ">
        <div *ngIf="hasTransactions() else clearedCreditHistory">
            <div class="card">
                <div class="card-header">
                    <h4>Current Transaction History</h4>
                </div>
                <div class="card-body">
                    <table class="table table-striped table-bordered">
                        <thead class="thead-dark">
                            <tr>
                                <th>Date</th>
                                <th>Credit Amount</th>
                                <th>Deposit Amount</th>
                                <th>Balance</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let transaction of waterPurchaseTransaction?.rcCreditReqList">
                                <td>{{ transaction.tripDateTime | date:'medium' }}</td>
                                <td>{{ transaction.creditAmount }}</td>
                                <td>{{ transaction.depositAmount }}</td>
                                <td>{{ transaction.balanceAmount }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="histGroupForm.get('historyMode')?.value">
        <div class="card-header title-background">
            <h4>All Transaction History</h4>
        </div>
        <div class="card-body">
            <div class="scrollable-table-container  mat-elevation-z8">
                <table mat-table [dataSource]="dataSource">
                    <ng-container matColumnDef="tripDateTime">
                        <th mat-header-cell *matHeaderCellDef> Date </th>
                        <td mat-cell *matCellDef="let element"> {{element.tripDateTime | date:'medium'}} </td>
                    </ng-container>
                    <ng-container matColumnDef="creditAmount">
                        <th mat-header-cell *matHeaderCellDef> Credit Amount </th>
                        <td mat-cell *matCellDef="let element"> {{element.creditAmount}} </td>
                    </ng-container>
                    <ng-container matColumnDef="depositAmount">
                        <th mat-header-cell *matHeaderCellDef> Deposit Amount </th>
                        <td mat-cell *matCellDef="let element"> {{element.depositAmount}} </td>
                    </ng-container>
                    <ng-container matColumnDef="balanceAmount">
                        <th mat-header-cell *matHeaderCellDef> Balance </th>
                        <td mat-cell *matCellDef="let element"> {{element.balanceAmount}} </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns" class="sticky-header"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons (page)="onPageChange($event)"
                    aria-label="Transaction History"></mat-paginator>
            </div>
        </div>
    </ng-container>
    <div *ngIf="!histGroupForm.get('historyMode')?.value" class="card-footer d-flex justify-content-end mt-3">
        <button class="btn btn-danger mx-3" [disabled]="isRecording" (click)="performPayment()">
            <i class="fa fa-money-bill"></i> {{isRecording ? 'Saving...' : 'Make Payment!'}}
        </button>
    </div>
    <div *ngIf="isRecording" class="overlay">
        <div class="spinner-border text-primary" role="status"> <span class="visually-hidden">Saving...</span> </div>
    </div>

    <ng-template #clearedCreditHistory>
        <div class="alert alert-success credit-history" role="alert"> Clear Credit History !!</div>
    </ng-template>