<div class="mb-3">
  <label for="customerList" class="form-label">Search by Name</label>
  <input class="form-control" list="customerNames" id="customerList" [formControl]="searchTerm"
    placeholder="Type to search...">
</div>
<table class="table table-striped">
  <thead>
    <th>Customer Name</th>
    <th>Contact Number</th>
  </thead>
  <tbody>
    <tr class="table-row" *ngFor="let customer of filteredCustomers" (click)="onRowClick(customer)">
      <td>{{customer.custName}}</td>
      <td>{{customer.contactNum}}</td>
    </tr>
  </tbody>
</table>