.search-body {
    display: grid;
    justify-content: center;
}

.search-container {
    display: flex;
    align-items: baseline;
}

.search-container .form-label {
    margin-right: 10px;
}

.contact-edit-button {
    background-color: transparent;
    border: 0;
    transition: transform 0.2s
}

.contact-edit-button:hover {
    transform: scale(1.05);
}

.search-input {
    flex: 1;
    max-width: 300px;
    /* Adjust the max-width as needed */
    margin-right: 20px;
}

.register-icon-button {
    background-color: #007bff;
    color: #ffffff;
    position: relative;
    margin-left: 1rem;
}

.register-icon-button:hover {
    background-color: #0056b3;
}

/* Hover effect for mat-row */
.mat-row:hover {
    cursor: pointer;
    /* Change cursor to pointer */
    background-color: #f1f1f1;
    /* Light gray for hover effect */
}

/* Ensure mat-table has a defined width */
.mat-elevation-z8 {
    min-width: 20vw;
    max-width: 20vw;
}

.customer-grid {
    display: flex;
    flex-wrap: wrap;
    /* Allow wrapping of cards */
    justify-content: center;
    /* Center the cards */
}

.card-header {
    display: flex;
    justify-content: space-between;
    /* Space between title and button */
    align-items: center;
    /* Center vertically */
}

.customer-card {
    width: calc(20vw - 20px);
    /* Each card takes up roughly a third of the row minus margins */
    min-width: 20vw;
    /* Minimum width for one or two cards */
    margin: 10px;
    /* Space between cards */
    transition: transform 0.2s, box-shadow 0.2s;
    /* Smooth transition for hover effects */

    .custom-card {
        background-color: #ffffff;
        /* Slightly transparent white */
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        /* Subtle shadow for depth */
    }
}

/* Hover effect for customer cards */
.customer-card:hover {
    transform: scale(1.05);
    /* Slightly enlarge the card */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    /* Add shadow for depth */
    cursor: pointer;
}

/* Optional: Adjust card styles */
.mat-card {
    text-align: center;
    /* Center text inside card */
}

/* New CSS for Trip Pending Count and Balance */
.trip-info {
    display: flex;
    justify-content: space-between;
    padding: 12px;
    background-color: #f0f0f5;
    border-radius: 25px;
    font-size: 1.1em;
    /* Slightly larger font */
    font-weight: bold;
    /* Bold text */

    &.no-record {
        background-color:transparent;
    }
}

.trip-info div {
    margin: 0 8px;
    /* Add some spacing between items */
}

.highlighted-value {
    font-size: 1.2em;
    /* Larger font size */
    color: #007bff;
    /* Highlight color */
    font-weight: bold;
    /* Ensure bold text */
}