<div @transitionMessages>
  <h2 mat-dialog-title>Payment Mode</h2>
  <mat-dialog-content>
    <form [formGroup]="payFormGroup">
      <mat-form-field appearance="fill">
        <mat-label>Amount Paid</mat-label>
        <input matInput type="number" formControlName="paymentAmount" name="amount" required>
        <mat-error
          *ngIf="payFormGroup.get('paymentAmount')?.invalid && (payFormGroup.get('paymentAmount')?.dirty || payFormGroup.get('paymentAmount')?.touched)">
          Amount is required </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Payment Mode</mat-label>
        <mat-select formControlName="paymentMode" name="paymentMode" required>
          <mat-option value="CASH">Cash</mat-option>
          <mat-option value="UPI">UPI</mat-option>
        </mat-select>
        <mat-error
          *ngIf="payFormGroup.get('paymentMode')?.invalid && (payFormGroup.get('paymentMode')?.dirty || payFormGroup.get('paymentMode')?.touched)">
          Payment mode is required </mat-error>
      </mat-form-field>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions align="center">
    <button mat-raised-button color="accent" (click)="onCancel()">Cancel</button>
    <button mat-flat-button color="primary" (click)="onSave()" [disabled]="!payFormGroup.valid">Submit</button>
  </mat-dialog-actions>
</div>